* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  border-bottom: none;
}
.cell {
  
  font-size: 25px;
  background-color: #6eae00;
}

.food {
  background-color: #f7ef5e;
}

.snake {
  background-color: black;
}

